@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;1,100;1,200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  caret-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 1.6rem;
  background-image: url(imagensP/Fundo\ Pagina\ Pessoal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 16px;
}

*::-webkit-scrollbar-track-piece {
  background-color: rgba(128, 128, 128, 0.377);
}

header {
  display: flex;
  backdrop-filter: blur(5px);
  width: 100%;
  position: fixed;
  z-index: 2;
}

a {
  color: #0d2575;
  text-decoration: none;
  transition: color 0.4s;
}

header a:hover {
  color: #ff00bf;
  transition: all .6s;
}

header .name {
  display: flex;
  justify-content: space-between;

  width: 90%;
  max-width: 3000px;

  margin: auto;
}

header img {
  width: 100px;
  padding: 15px 0;
  filter: brightness(180%);
}

header .container {
  font-size: 2.7rem;
  font-weight: bolder;
  color: #0d2575;
  display: flex;
  align-items: center;
}

header ul li a {
  margin: 2.4rem;
  font-size: 2.4rem;
}

header .li2 {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: flex-end;
  width: 60%;
}

header .li2 ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

header .head1 {
  color: #0d2575;
  font-size: 1.8rem;
  cursor: pointer;
}

input {
  display: none;
}

.fundohamb li {
  list-style: none;
  padding: 16px 0;
  font-size: 5rem;
  padding-bottom: 6%;
  padding-top: 6%;
}

.fundohamb li a {
  color: white;
}

.fundohamb {
  margin-top: 30vh;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.MNBG {
  text-align: center;
  display: none;
  background-image: url(imagensP/Fundo\ Pagina\ Pessoal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.MNBG hr {
  background: linear-gradient(to right, transparent, #ff00f5, #0d2575, transparent);
  height: 5px;
  border: 0;
  filter: brightness(180%);
}

.Banner {
  display: flex;
  height: 80vh;
  align-items: center;
}

.Banner hr {
  background: linear-gradient(to right, #ff00f5, #0d2575, transparent);
  height: 2px;
  border: 0;
  filter: brightness(180%);
}

.infoBanner {
  width: 50%;
  margin: 2% 8% 0;
  padding-top: 6%;
}

.infoBanner h1 {
  color: white;
  font-size: 10rem;
  font-family: "Roboto Mono";
  margin: auto;
}

.infoBanner h2 {
  color: #0d2575;
  font-size: 4rem;
  margin: auto;
}

.infoBanner p {
  color: white;
  font-size: 2rem;
  margin: auto;
}

.foto img {
  width: 100%;
  max-width: 300px;
  margin: 8% 20% 10%;
  filter: brightness(120%);
  padding-top: 40%;
  z-index: -1;
  position: relative;
}

.branco {
  height: auto;
  background-color: white;
}

.Info {
  font-weight: bold;
  margin: auto;
  width: 80%;
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}

.Info h1 {
  color: #0d2575;
  font-size: 3.8rem;
  margin-bottom: 0.5%;
}

.Info hr {
  border: 1px solid #ff00f5;
  margin-bottom: 2%;
  background: linear-gradient(to right, #ff00f5, #0d2575, transparent);
  height: 2px;
  border: 0;
  flex: 0 0 100%;
  filter: brightness(180%);
  z-index: 0;
  position: relative;
}

.Info p {
  color: black;
  font-size: 1.6rem;
}

.divisa {
  margin-bottom: 6%;
}

footer {
  width: 100%;
  background-size: cover;
  left: 0;
  bottom: 0;
  background-color: transparent;
}

.centro {
  margin: 0 auto 0;
  max-width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centro hr {
  flex: 0 0 100%;
  margin-top: 2%;
  background: linear-gradient(to right,
      transparent,
      #ff00f5,
      #0d2575,
      transparent);
  height: 3px;
  border: 0;
  filter: brightness(180%);
}

.centro p {
  color: white;
  margin-bottom: 2%;
  font-size: 2rem;
}

@media (max-width: 1244px) {
  .Banner .foto {
    width: 250px;
  }

  .Banner h1 {
    font-size: 9rem;
  }

  .Banner h2 {
    font-size: 3rem;
  }

  .Banner p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1087px) {
  header .name h1 {
    font-size: 3.1rem;
  }

  .head1 a {
    font-size: 2rem;
  }

  .Banner .foto {
    justify-content: center;
    width: 220px;
    margin-left: -5%;
  }

  .Banner h1 {
    font-size: 7rem;
  }

  .Banner h2 {
    font-size: 2.4rem;
  }

  .Banner p {
    font-size: 1.5rem;
  }

  .infoBanner {
    width: 50%;
  }

  .Info h1 {
    font-size: 3.1rem;
  }

}

@media (max-width: 926px) {
  .Info h1 {
    font-size: 3rem;
  }

  .Info p {
    font-size: 1.4rem;
  }

  .li2 .head1 {
    display: none;
    width: 0%;
  }

  .container {
    width: 100%;
  }

  header {
    height: 90px;
  }

  .name .container h1 {
    font-size: 4.2rem;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .menu {
    background: transparent;
    border-radius: 50%;
    width: 60px;
    height: 80px;
    bottom: 25px;
    right: 25px;
    display: flex;
    align-items: center;
  }

  .hamburguer {
    position: relative;
    display: flex;
    background: #0d2575;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
  }

  .hamburguer:before,
  .hamburguer:after {
    background: #0d2575;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }

  .hamburguer:before {
    top: -10px;
  }

  .hamburguer:after {
    bottom: -10px;
  }

  input {
    display: none;
  }

  input:checked~label .hamburguer {
    transform: rotate(45deg);
  }

  input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
  }

  input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
  }
}

@media (max-width: 830px) {
  .Banner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .Banner .foto {
    justify-content: center;
    width: 180px;
    margin-left: -10%;
    margin-bottom: -9%;
  }

  .Banner h1 {
    font-size: 4rem;
  }

  .Banner h2 {
    font-size: 2rem;
  }

  .Banner p {
    font-size: 1.3rem;
    margin-bottom: 10%;
  }

  .infoBanner {
    width: 70%;
  }

  .Info {
    padding-top: 6%;
    padding-bottom: 6%;
  }
}

@media (max-width: 540px) {
  .Info h1 {
    font-size: 2.4rem;
  }

  .Info p {
    font-size: 1.2rem;
  }

  .centro p {
    font-size: 1.4rem;
  }

  .Banner .foto {
    margin-left: -15%;
  }

  .name .container h1 {
    font-size: 2.8rem;
  }

  .name .container img {
    width: 80px;
  }

  .menu {
    height: 60px;
  }
}

@media (max-width: 440px) {
  .Banner .foto {
    margin-left: -20%;
  }
}

@media (max-width: 440px) {
  .infoBanner {
    width: 88%;
  }
}

@media (max-width:360px) {
  .name .container img {
    width: 60px;
    padding-top: 10%;
  }

  .name .container h1 {
    padding-top: 5%;
    font-size: 2.6rem;
  }

  .hamburguer {
    width: 24px;
  }

  .Banner {
    height: 75vh;
  }
}

@media (min-height:710px) {
  .Banner {
    height: 70vh;
  }
}

@media (max-height:710px) {
  .Banner {
    height: 80vh;
  }
}

@media (min-height:830px) {
  .Banner {
    height: 60vh;
  }
}

@media (min-height:910px) {
  .Banner {
    height: 50vh;
  }
}

